.wrap{
    text-align: center;
    
}
.background {
    background-color:#f5f5dc;
}
.h1{
    text-emphasis: bold;
    font-size:50px;
}
.mainFont{
    font-family: 'Oswald', sans-serif;
}
.secondaryFont{
 

    font-family: 'Oswald', sans-serif;

    font-family: 'Hind', sans-serif;


}
.thirdFont{
    font-family: 'Archivo', sans-serif;
}
.footer{
position: absolute;
left: 0;
bottom: 0;
width: 100%;
background-color: gray;
color: white;
text-align: center;
padding-top: 1%;
padding-bottom: 1%;
}
.lastColor{
    background-color:#343a40;
    color:white;
    

}
.newFooter{
position: absolute !important; 
left: 0;
bottom: 0;
width: 100%;
background-color: gray;
color: white;
text-align: center;
padding-top: 1%;
padding-bottom: 1%;
}